* {
  position: relative;
  box-sizing: border-box;
}

@keyframes left-to-right {
  0%   {left:0px;}
  50%  { left:60%;}
  100%  { left:0px;}
}

@keyframes right-to-left {
  0%   {right:0px;}
  50%  { right:60%;}
  75%  { right:0px;}
}

@keyframes expands {
  0%   {width:0px;}
  100%  { width:100%;}
}

#app {
  // opacity: 0 !important;
  // visibility: hidden;
  z-index: 100;

  &:hover {
    opacity: 0.5;
  }
}

#app {
  height: 90vh;
  width: 100%;
  background: #ede8e2;
  color: #3a3535;
}

body {
  padding: 3vmin;
  background: #e6ded7;
  text-align:center;
}

@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
.title{
	animation-name:right-to-left;
	animation-duration:2s;
	width:20%;
	height:100%;
	margin-left:20%;
	top:40%;
	text-align:center;
	float:left;}

	
#picture{
	border: 5px solid white;
}

#description {
  /*mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);*/
  font-size: 2em;
}
#description p{
  font-size: 0.5em;  
}

.image {
  opacity: 0.7;
  height:100%;
  animation-name: left-to-right;
  animation-duration: 2s;
  width: 40%;
  float:left;
  
}
.image img{width:100%;height:100%}


.angry-animate{
-webkit-animation:zoom-in-out 1s ease-in-out 2s 2 normal;
-moz-animation:zoom-in-out 1s ease-in-out 2s 2 normal;
-ms-animation:zoom-in-out 1s ease-in-out 2s 2 normal;
animation:zoom-in-out 1s ease-in-out 2s 2 normal;
}

@-webkit-keyframes zoom-in-out {
0%{ -webkit-transform: scale(1); transform: scale(1); }
50%{ -webkit-transform: scale(1.2); transform: scale(1.2); }
100%{ -webkit-transform: scale(1); transform: scale(1); }
}

@keyframes zoom-in-out {
0%{ -ms-transform: scale(1); transform: scale(1); }
50%{ -ms-transform: scale(1.2); transform: scale(1.8); }
100%{ -ms-transform: scale(1); transform: scale(1); }
}

div.preview-bg .preview-box {
    background-color: white;
    margin: 114px auto;
    width: 250px;
    height: 250px;
}

// Replay animation!
body:active * {
  animation: none !important;
}
